extends layout.pug 

block content
   .containeer 
      h1.intro-msg This app will allow users to create, delete and update student database.
   .btns
      a.featured(href='/students') Show 
      a.featured(href='/create') Create 